.Favorites-container{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1vh;
    row-gap: 2vh;
    flex-direction: column;
    align-items: center;
}