.recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.parts{
    align-self: baseline;
    display: flex !important;
    border-style: none !important;
}

.dish-img{
    display: flex;
    align-content: end;
    background-image: url("https://img.freepik.com/free-photo/ingredients-making-guakamole_1220-7095.jpg?w=1380&t=st=1670340560~exp=1670341160~hmac=bcaaafad5021056b734c8c744fe281a23ae5e4f78528e228212285e41061f8de");
    background-position-y: center;
    border-radius: 0px 0px 25px 25px;

    color: white;
}

.dish-img > .css-1rcma2b{
    background-color: transparent!important;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.left{
    margin: 4vh 5vw;
}

.right{
    margin: 4vh 5vw 0 0;;
}

.css-1rcma2b {
    border-radius: 0 0 25px 25px;
    background-color: #EFD6A7 !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.css-1sp6rtk {
    align-self: baseline;
    border-radius: 25px;
    background-color: #EFD6A7 !important;
}

.css-mntqo9 {
    align-self: baseline;
    margin: 4vh 0 0 0;
    width: 20vw;
    height: 50vh;
    border-radius: 25px;
    background-color: #EFD6A7 !important;
}

.css-adsvjz{
    align-self: baseline;
    border-radius: 25px;
    height: 62vh;
    background-color: #EFD6A7 !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: #383333 !important;
    left: auto !important;
}

.recipe-card .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: transparent!important;
}